@CHARSET "ISO-8859-1";
 @import url(https://fonts.googleapis.com/css?family=Bree+Serif);
ul {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

ul li {
	list-style: none;
	margin-bottom: 25px;
}

ul li img {
	cursor: pointer;
}

.text {
	/*font-family: 'Bree Serif';*/
	color: #666;
	font-size: 11px;
	margin-bottom: 10px;
	padding: 12px;
	background: #fff;
}

.controls{
    width:50px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;
}
.next {
    float:right;
    text-align:right;
}

/* Add a hover effect (blue shadow) */
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.header-site{
   background-image: url("../photos/cover/cover.jpg");
/*     min-height: 200px; */
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
}

.body {
    display: table;
}

.left-side {
    float: none;
    display: table-cell;
}

.right-side {
    float: none;
    display: table-cell;
}

